* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #111;
  color: white;
  font-family: Arial;
  text-align: center;
}

.container {
  max-width: 500px;
  margin: auto;
  padding: 20px;
}

input {
  width: 100%;
  padding: 14px;
  margin: 7px 0;
  border: 0;
  border-radius: 8px;
  font-size: 16px;
}

button {
  padding: 13px 20px;
  margin: 8px;
  border: 0;
  border-radius: 10px;
  font-size: 17px;
  font-weight: bold;
}

.hidden {
  display: none;
}

#menu button,
#gameOver button {
  background: #00c853;
  color: white;
}

.info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

#arena {
  position: relative;
  height: 550px;
  width: 100%;
  overflow: hidden;
  border: 3px solid white;
  border-radius: 10px;
  background: linear-gradient(#222, #444);
}
#player {
  position: absolute;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 45px;
}

.knife {
  position: absolute;
  top: -60px;
  font-size: 40px;
}

.controls button {
  width: 100px;
  height: 60px;
  font-size: 28px;
}

#leaderboard {
  background: #222;
  border-radius: 10px;
  padding: 10px;
  text-align: left;
}

.row {
  padding: 10px;
  border-bottom: 1px solid #444;
}